.bg{
    height: 700px;
    width: 100%;
    background: url('../images/eleve5.jpg');
    background-size: cover;

}
.welcome{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: green;
    color: #fff;
}